h1{
     font-family: "Caveat", cursive;
     text-align: center;
     font-size: 100px;
     color: #d4af37
     
}

h2 {
    font-family: "Caveat", cursive;
    text-align: center;
    font-size: 30px;
    color: #d4af37;
    margin-top: -75px; /* Mantém o "Fine dinner" perto do Vellor */
}

/* Regra exclusiva apenas para o "Fine drink" lá de baixo */
.subtitulo-drink {
    margin-top: 100px; /* Joga ele para baixo sem afetar o de cima */
}

h3{
      color: #d4af37;
     margin-top: 40px;
}

.prato {
     display: flex;
     align-items: center;
     gap: 20px;
     margin-bottom: 50px;
}

.prato2 {
     display: flex;
     align-items: center;
     gap: 20px;
     margin-bottom: 50px;
}

.prato3 {
     display: flex;
     align-items: center;
     gap: 20px;
     margin-bottom: 50px;
}
.prato4 {
     display: flex;
     align-items: center;
     gap: 20px;
     margin-bottom: 50px;
}
.prato5 {
     display: flex;
     align-items: center;
     gap: 20px;
     margin-bottom: 50px;
}

.bebida {
     display: flex;
     align-items: center;
     gap: 20px;
     margin-bottom: 50px;
}
.preco {
    display: flex;
    align-items:;
    gap: 20px;
}



body{
     background-color: rgb(255, 250, 240)
}

img {
    width: 300px; /* Define a largura da imagem */
    border-radius: 8px; /* Deixa as bordinhas levemente arredondadas (fica bem chique!) */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Adiciona uma sombrinha elegante */
}