h1{
    font-family: "IBM Plex Serif", serif;
    font-size: 40px;
    text-align: center;
    color: rgb(170, 0, 0);
}

h2{
    font-family: "IBM Plex Serif", serif;
    text-align: center;
    color: rgb(0, 117, 0);

}
div{
    display: inline-block;
    font-size: 40px;
    padding: 120px;
    color: rgb(170, 0, 0);
    font-family: "IBM Plex Serif", serif;

}
img{
    im
}